.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    &__container {
        width: 100%;
        max-width: 1024px;
        margin: 20px 0 100px 0;
    }
    &__list {
        display: flex;
        gap:40px;
        margin-bottom: 50px;
        &--item{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &__desc {
        margin: 20px 0;
    }
    &__button {
        background-color: #0071c2;
        color: white;
        border: none ;
        font-weight: 500;
        cursor: pointer;
        padding: 10px;
    }

}

.header__list--item.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}