.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    &__container {
        width: 100%;
        max-width: 1024px;
        margin: 20px 0 100px 0;
    }
    &__list {
        display: flex;
        gap:40px;
        margin-bottom: 50px;
        &--item{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &__desc {
        margin: 20px 0;
    }
    &__button {
        background-color: #0071c2;
        color: white;
        border: none ;
        font-weight: 500;
        cursor: pointer;
        padding: 10px;
    }
    &__search {
        height: 30px;
        background-color: white;
        border:3px solid #febb02;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;
        border-radius: 5px;
        position: absolute;
        bottom: -25px;
        width: 100%;
        max-width: 1024px;
        &--item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &--input {
            border: none;
            outline: none;
        }
        &--text {
            color: lightgray;
            cursor: pointer;
        }
    }
    &__icon {
        color: lightgray;
    }
    &__calendar {
        position: absolute;
        top: 50px;
        z-index: 2;
    }
}

.header__list--item.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.option {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: grey;
    border-radius: 5px;
     -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    padding: 10px;
    &__item {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
    &__counter {
        width: 30px;
        height: 30px;
        border: 1px solid #0071c2;
        color: #0071c2;
        background-color: white;

        cursor: pointer;
        &--container {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 12px;
            color: black;
        }
    }
}

.option__counter:disabled {
    cursor: not-allowed;
}

.header__container.listMode {
    margin: 20px 0 0 0;
}